<div class="row">
  <div class="col-md-12 pt-3">
    <h2>所有課程</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 pb-3">
    <hr/>
  </div>
</div>
<% if @courses.present? %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
    <% @courses.each do |course| %>
      <div class="col">
        <div class="card shadow">
          <img src="https://picsum.photos/seed/<%= course.title %>/300/200">
          <div class="card-body">
            <div class="course-title d-flex justify-content-between">
              <h5><%= course.title %></h5>
              <h5><%= "$ #{course.price.to_i}" %></h5>
            </div>
            <p class="card-text"><%= course.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"><%= "By #{course.user.name}" if course.user.name.present? %></small>
              <div class="btn-group">
                <%= link_to(url_for_course(course), class: 'btn btn-sm btn-outline-dark') do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <%= link_to('#', class: 'btn btn-sm btn-outline-dark', name: 'buy', id: "buy_course_#{course.id}", data: { id: course.id }) do %>
                  <i class="fa-solid fa-cart-shopping"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12 pb-3">
      <span>目前尚無課程</span>
    </div>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load',function(){
    $('a[name="buy"]').click(function(e){
      e.preventDefault();

      this_button_id = $(e.currentTarget).data('id');

      $.ajax({
        url: `/api/v1/courses/${this_button_id}/buy`,
        type: 'POST',
        data: { token: "<%= current_user&.tokens&.first&.key %>" },
        success: function(){
          alert('購買成功！');
        },
        error: function(xhr) {
          let res = JSON.parse(xhr.responseText);
          alert(res.error.message);
        }
      });
    });
  })
</script>
