<!DOCTYPE html>
<html>
  <head>
    <title>Hao 教室</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" bg-secondary" style="--bs-bg-opacity: .05;">
    <%= render 'shared/navbar' %>
    <%= render "shared/flash" if notice || alert %> 
    <main class="container-md mt-5">
      <%= yield %>
    </main>
  </body>
</html>
