<!DOCTYPE html>
<html>
  <head>
    <title>Hao 教室</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-md">
          <%= link_to('Hao 教室', root_path, class: 'navbar-brand') %>
            <form class="d-flex">
              <%= link_to('登入', '#', class: 'btn btn-outline-dark me-3') %>
              <%= link_to('註冊', '#', class: 'btn btn-dark') %>
            </form>
        </div>
      </nav>
    </header>
    <main class="container-md">
      <%= yield %>
    </main>
  </body>
</html>
